body {
	background-color: #e6e6e6;
}

#main {
	background-color: white;
	position: absolute;
	top: 80px;
	padding-left: 50px;
	padding-right: 50px;
	width: 1300px;
	height: 1200px;
	left: 260px;
	right: 260;
	margin: auto;
}

#nav {

	background-color: #006bb3;
	padding: 0px; 
	position: fixed;
	top: 0%;
  	width: 100%;
	left:0%;
	z-index: 1;
}

#title {

	font-family: 'Raleway', sans-serif;
	text-align: center;
	color:whitesmoke;

}


#windchart {
	position: relative;
	top: 0px;
	width: 1300px;
	left: 0px;
 	height: 400px;
	margin: auto;
}