<!DOCTYPE html>
<html>
<head>
<title>Deviot Weather</title>
</head>
<link rel="stylesheet" type="text/css" href="static/style.css">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script type='text/javascript' src='static/windchart.js'></script>

<body>
<div id='nav'>
    <h2 id='title'>Deviot Weather Observations</h2>
</div>
<div id='main'>
    <div id="windchart"></div>
</div>

</body>


</html>
